.author {
	position: relative;
	overflow: hidden;
	color: var(--btn-rows-text-color-active);
	&__header {
		.text-center {
			@media (max-width: 600px) {
				text-align: left;
			}
		}
	}
	&__wrapper {
		max-width: rem(684px);
		margin: 0 auto;
	}
	form {
		.btn_default {
			display: flex;
			max-width: rem(335px);
			width: 100%;
			margin: 0 auto;
		}
	}
	.text-center {
		.btn_default {
			@media (max-width: 600px) {
				width: 100%;
			}
		}
	}
	&__status {
		padding: rem(24px);
		font-size: rem(13px);
		font-weight: 400;
		line-height: 1.5;
		color: var(--btn-rows-text-color-active);
		background-color: var(--btn-rows-bg);
		border-radius: rem(16px);
		margin-bottom: rem(24px);
		&._moderation {
			.author__status-icon, .author__status-title {
				color: var(--yellow-300);
			}
		}
		&._fail {
			.author__status-icon, .author__status-title {
				color: var(--red);
			}
		}
	}
	&__status-icon {
		display: block;
		width: rem(24px);
		height: rem(24px);
		margin-bottom: rem(48px);
	}
	&__status-title {
		display: block;
		font-size: rem(16px);
		font-weight: 700;
		margin-bottom: rem(12px);
	}
	&__status-subtitle {
		display: block;
		margin-bottom: rem(4px);
	}
	&__status-text {
		display: block;
	}
}

.podcasts {
	.podcasts__wave {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: rem(314px);
		user-select: none;
		pointer-events: none;
	}
	&__wrapper {
		padding-top: 70px;
		max-width: rem(684px);
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
	}
	&__visual {
		position: relative;
		display: flex;
		align-items: center;
		height: rem(38px);
		margin-bottom: rem(24px);
		.podcasts__icon {
			position: relative;
			display: block;
			width: 24px;
			height: 24px;
			margin: 0 auto;
			z-index: 5;
			color: var(--podcast-icon);
		}
	}
}
.body-empty-page {
	h2, &__title {
		color: var(--np-modal-title-color);
		margin-bottom: rem(2px);
	}
	p, &__descr {
		margin-bottom: 0;
	}
	.btn_default {
		margin-top: rem(24px);
		font-size: rem(16px);
		.icon {
			min-width: rem(20px);
			width: rem(20px);
			height: rem(20px);
			margin-right: rem(10px);
		}
	}
}
.search {
	position: relative;
	max-width: rem(460px);
	margin: 0 auto rem(24px);
	&._big {
		max-width: rem(560px);
	}
	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: rem(48px);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--btn-rows-text-color-active);
	}
	.btn_filter {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: rem(48px);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--btn-rows-text-color-active);
		&:hover,
		&:focus,
		&:active {
			color: var(--accent-500);
		}
	}
	.form-control {
		padding-right: rem(52px);
		padding-left: rem(52px);
	}
}
