.dropdown-menu {
     box-shadow: 0 rem(4px) rem(16px) rgba(15, 15, 15, 0.15);
	min-width: 240px;
	overflow: hidden;
}

.dropdown-item {
    display: flex;
    align-items: center;
	cursor: pointer;

    > span {
        flex: 1;
    }

    .icon {
        margin-left: rem(16px);
    }
	
	&:active {
		background-color: var(--btn-switcher-color);
	}
}

.dropdown-toggle {
    &::after {
        display: none;
    }
}
