.logo {
    position: relative;
    overflow: hidden;
    border-radius: rem(16px);
    background: var(--logo-bg);
}

.logo__bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    filter: blur(4vw);
}

.logo__img {
    position: relative;
    z-index: 1;
}

@media (min-width: 992px) {
    .logo__bg {
        filter: blur(rem(64px));
    }
}
