$base-font-size: 16px;

:root {
    --white: #fff;
    --white-75: rgba(255, 255, 255, .75);
    --black: #000;

    --dark-100: #3E4247;
    --dark-200: #303336;
    --dark-300: #212325;
    --dark-500:#0F0F0F;
    --dark-500-075: rgba(15, 15, 15, .75);
    --accent-500: #B5E51D;

    --grey-100: #F7F7F8;
    --grey-200: #DEE0E3;
    --grey-300: #BEC2C6;
    --grey-500: #4E5255;

    --green-300: #08A618;
	--yellow-300: #EDA942;
	--red-200: #FF5555;
	--red-300: #DA2F2F;

    --scrollbar-track-color: transparent;
}

@mixin lightTheme() {
    --body-bg: var(--grey-100);
    --body-color: var(--grey-500);
	
	--link-color: var(--green-300);
	--link-hover-color: var(--green-300);

    --primary-text-color: var(--dark-500);
    --primary-hover-bg: rgba(15, 15, 15, .05);


    --btn-rows-text-color: var(--grey-500);
    --btn-rows-ico-color: var(--grey-500);
    --btn-rows-ico-opacity: 1;
    --btn-rows-bg: var(--white);
    --btn-rows-active-bg: var(--grey-200);
    --btn-rows-text-color-active: var(--dark-500);
    --btn-rows-ico-color-active: var(--dark-500);
    --btn-rows-ico-opacity-active: 1;

    --menu-bg: var(--grey-100);
    --menu-border-bg: linear-gradient(180deg, var(--grey-100) 0%, var(--white) 50%, var(--grey-100) 100%);

    --btn-switcher-bg: var(--white);
    --btn-switcher-color: var(--dark-500);
    --btn-switcher-color-active: var(--dark-500);
	--btn-switcher-bg-active: var(--accent-500);
    --btn-switcher-border: var(--grey-200);
    --btn-switcher-border-active: var(--accent-500);


    --link-panel-color: var(--grey-500);
    --link-panel-ico-color: var(--dark-500);
    --link-panel-bg: var(--white);
    --link-panel-color-hover: var(--dark-500);

    --btn-list-item-color: var(--grey-500);
    --btn-list-item-ico-color: var(--dark-500);
    --btn-list-item-color-hover: var(--dark-500);

    --menu-nav-sep-color: var(--grey-200);

    --menu-footer-color: var(--dark-500-075);
    --menu-footer-link-color: var(--dark-500);

    --item-title-color: var(--dark-500);

    --logo-bg: rgba(15, 15, 15, .1);

    --title-color: var(--dark-500);

    --category-slider-border-color: var(--grey-200);

    --swiper-button-bg: var(--white);
    --swiper-button-color: var(--dark-500);
    --swiper-button-shadow: 0 0 24px rgba(15, 15, 15, .15);
    --swiper-button-bg-hover: var(--white);
    --swiper-button-shadow-hover: 0 0 24px rgba(15, 15, 15, .25);

    --now-playing-author-color: var(--dark-500-075);
    --now-playing-title-color: var(--dark-500);

    --now-playing-bg: rgba(255, 255, 255, .9);
    --now-playing-border-top: 0;
    --now-playing-shadow: 0 0 24px rgba(15, 15, 15, .15);

    --np-modal-bg: var(--grey-100);
    --np-modal-title-color: var(--dark-500);
    --np-modal-body-header-gradient: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 100%);
    --more-text: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 45.99%);
    --np-modal-pretitle-color: var(--dark-500-075);
    --np-modal-more-list-border-color: var(--grey-200);
    --np-modal-bg-lg: rgba(255, 255, 255, .8);
    --np-modal-quality-active-color: var(--green-300);
    --np-modal-favourites-active-fill: var(--dark-500);
    --np-modal-btn-timer-bg: var(--white);
    --np-modal-btn-timer-color: var(--dark-500);
    --np-modal-btn-timer-shadw: 0 4px 16px rgba(15, 15, 15, 0.15);
    --np-modal-secodary-actions-bg: rgba(255, 255, 255, 0.9);
    --np-modal-secodary-actions-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
    --np-modal-more-list-border-color-lg: var(--grey-200);
    --np-modal-shadow: 0 4px 48px rgba(15, 15, 15, 0.15);
    --np-modal-timer-values-bg: var(--grey-200);
    --np-modal-timer-value-color: var(--dark-500);
    --np-modal-timer-label-color: var(--dark-500-075);

    --scrollbar-thumb-color: rgba(15, 15, 15, .05);
    --scrollbar-thumb-color-hover: rgba(15, 15, 15, .15);

    --wave-stop-color-1: var(--grey-100);
    --wave-stop-color-2: var(--grey-200);
    --wave-stop-color-3: var(--grey-100);

    --wave-stop-color-1-lg: var(--white);
    --wave-stop-color-2-lg: var(--grey-200);
    --wave-stop-color-3-lg: var(--white);

    --btn-secondary-bg: var(--grey-200);
    --btn-secondary-color: var(--dark-500);
    --btn-secondary-bg-lg: var(--grey-200);
    --timer-bg: var(--grey-200);
    --podcast-btn: var(--grey-200);
    --podcast-border: var(--grey-200);
	
	--btn-primary-disabled-bg: var(--grey-200);
	--btn-primary-disabled-color: var(--grey-300);
	--red: var(--red-300);
	--podcast-icon: var(--dark-500);
}

@mixin darkTheme() {
    --body-bg: var(--dark-500);
    --body-color: var(--white-75);
	
	--link-color: var(--accent-500);
	--link-hover-color: var(--accent-500);

    --primary-text-color: var(--white);
    --primary-hover-bg: rgba(255, 255, 255, .05);

    --btn-rows-text-color: rgba(255, 255, 255, .6);
    --btn-rows-ico-color: var(--white);
    --btn-rows-ico-opacity: .6;
    --btn-rows-bg: var(--dark-300);
    --btn-rows-active-bg: var(--dark-300);
    --btn-rows-text-color-active: var(--white);
    --btn-rows-ico-color-active: var(--white);
    --btn-rows-ico-opacity-active: 1;

    --menu-bg: rgba(33, 35, 37, .75);
    --menu-border-bg: linear-gradient(180deg, rgba(33, 35, 37, 0) 0%, #35383B 50%, rgba(33, 35, 37, 0) 100%);
	
	--btn-switcher-bg: var(--dark-500);
	--btn-switcher-color: var(--white);
	--btn-switcher-color-active: var(--dark-500);
	--btn-switcher-bg-active: var(--accent-500);
	--btn-switcher-border: var(--white);
	--btn-switcher-border-active: var(--accent-500);


    --link-panel-color: var(--white-75);
    --link-panel-ico-color: var(--white);
    --link-panel-bg: var(--dark-500);
    --link-panel-color-hover: var(--white);


    --btn-list-item-color: var(--white-75);
    --btn-list-item-ico-color: var(--white);
    --btn-list-item-color-hover: var(--white);

    --menu-nav-sep-color:rgba(255, 255, 255, .1);

    --menu-footer-color: rgba(255, 255, 255, .6);
    --menu-footer-link-color: var(--white);

    --item-title-color: var(--white);

    --logo-bg: rgba(255, 255, 255, .1);

    --title-color: var(--white);

    --category-slider-border-color: var(--dark-300);

    --swiper-button-bg: var(--dark-200);
    --swiper-button-color: var(--white);
    --swiper-button-shadow: none;
    --swiper-button-bg-hover: var(--dark-100);

    --now-playing-author-color: var(--white-75);
    --now-playing-title-color: var(--white);

    --now-playing-bg: var(--dark-500-075);
    --now-playing-border-top: 1px solid var(--dark-300);
    --now-playing-shadow: none;

    --np-modal-bg: var(--dark-500);
    --np-modal-title-color: var(--white);
    --np-modal-body-header-gradient: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 100%);
    --more-text: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 45.99%);
    --np-modal-pretitle-color: var(--white-75);
    --np-modal-more-list-border-color: var(--dark-300);
    --np-modal-bg-lg: rgba(33, 35, 37, .8);
    --np-modal-quality-active-color: var(--accent-500);
    --np-modal-favourites-active-fill: var(--white);
    --np-modal-btn-timer-bg: var(--dark-200);
    --np-modal-btn-timer-color: var(--white);
    --np-modal-btn-timer-shadw: none;
    --np-modal-secodary-actions-bg: var(--dark-500-075);
    --np-modal-secodary-actions-shadow: none;
    --np-modal-more-list-border-color-lg: var(--dark-200);
    --np-modal-shadow: none;
    --np-modal-timer-values-bg: var(--dark-200);
    --np-modal-timer-value-color: var(--white);
    --np-modal-timer-label-color: var(--white-75);

    --scrollbar-thumb-color: rgba(255, 255, 255, .1);
    --scrollbar-thumb-color-hover: rgba(255, 255, 255, .15);

    --wave-stop-color-1: var(--dark-500);
    --wave-stop-color-2: var(--dark-300);
    --wave-stop-color-3: var(--dark-500);

    --wave-stop-color-1-lg:var(--dark-300);
    --wave-stop-color-2-lg: var(--dark-200);
    --wave-stop-color-3-lg: var(--dark-300);

    --btn-secondary-bg: var(--dark-300);
    --btn-secondary-color: var(--white);
    --btn-secondary-bg-lg: var(--dark-200);
    --timer-bg:var(--dark-500);
    --podcast-btn: var(--dark-300);
    --podcast-border: var(--green-300);
	
	--btn-primary-disabled-bg: var(--dark-300);
	--btn-primary-disabled-color: var(--dark-100);
	--red: var(--red-200);
	--podcast-icon: var(--accent-500);
}

:root {
    @include lightTheme();
}

:root[data-theme=dark] {
    @include darkTheme();
}


@media (prefers-color-scheme: light) {
    :root {
        @include lightTheme();
    }

    :root[data-theme=light] {
        @include lightTheme();
    }

    :root[data-theme=dark] {
        @include darkTheme();
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include darkTheme();
    }

    :root[data-theme=dark] {
        @include darkTheme();
    }

    :root[data-theme=light] {
        @include lightTheme();
    }
}
