.btn {
    border: 0;
    background: transparent;
    padding: 0;
    user-select: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn_default {
	min-height: rem(48px);
	padding: rem(4px) rem(16px);
	border-radius: rem(24px);
}

.btn_ico {
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
}

.btn_ico-primary {
    color: var(--primary-text-color);
    transition: background .2s ease-in-out;
	&:hover,
	&:focus {
		color: var(--primary-text-color);
	}
}

.btn_rows {
    color: var(--btn-rows-text-color);
    min-height: rem(48px);
    padding: rem(2px) rem(16px);
    border-radius: rem(24px);
    flex-direction: column;
    transition: background .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--btn-rows-text-color);
    }

    .icon {
        color: var(--btn-rows-ico-color);
        opacity: var(--btn-rows-ico-opacity);
        transition: background .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
    }

    &.active {
        background: var(--btn-rows-active-bg);
        color: var(--btn-rows-text-color-active);

        .icon {
            color: var(--btn-rows-ico-color-active);
            opacity: var(--btn-rows-ico-opacity-active);
        }
    }

}

.btn_large {
    min-height: rem(48px);
    padding: rem(8px) rem(16px);
}

.btn_switcher {
    border-radius: rem(24px);
    color: var(--btn-switcher-color);
    transition: color .2s ease-in-out, background .2s ease-in-out;

    &.active {
        color: var(--btn-switcher-color-active);
        background: var(--btn-switcher-bg-active);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--btn-switcher-color);

        &.active {
            color: var(--btn-switcher-color-active);
        }
    }
}

.btn_list-item {
    padding: rem(12px);
    justify-content: flex-start;
    text-align: left;
    color: var(--btn-list-item-color);
    min-height: rem(48px);
    transition: color .2s ease-in-out;

    .icon {
        margin-right: rem(16px);
        color: var(--btn-list-item-ico-color);
    }

    &:hover,
    &:focus {
        color: var(--btn-list-item-color);
        text-decoration: none;
    }
}

.btn_ico-accent {
    background: var(--accent-500);
    color: var(--dark-500);
    transition: background .2s ease-in-out;

	&:hover,
	&:focus {
		background: var(--accent-500);
		color: var(--dark-500);
	}
}

.btn_primary {
    background: var(--accent-500);
    color: var(--dark-500);
    border-radius: rem(24px);
    transition: background .2s ease-in-out;

	&:hover,
	&:focus {
		background: var(--accent-500);
		color: var(--dark-500);
	}
	&:disabled {
		background: var(--btn-primary-disabled-bg);
		color: var(--btn-primary-disabled-color);
	}
}

.btn_secondary {
    border-radius: rem(24px);
    background: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
	&:hover,
	&:focus {
		background: var(--btn-secondary-bg);
		color: var(--btn-secondary-color);
	}
}

.btn_more {
    position: relative;
    color: var(--btn-more-color);

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: "";
        display: block;
        width: rem(48px);
        height: 100%;
        background: var(--btn-more-bg);
        position: absolute;
        top: 0;
        right: 100%;
    }
}


.btn_fake-input {
    position: relative;
    color: var(--btn-fake-input-color);
    width: 100%;
    text-align: left;
    align-items: flex-start;
    padding: rem(12px) rem(64px) rem(12px) rem(12px);
    background: var(--btn-fake-input-bg);
    border-radius: rem(8px);
    border: var(--btn-fake-input-border);
    flex-direction: column;

    .btn-modal-toggle {
        bottom: auto;
    }

    .small {
        color: var(--btn-fake-input-small-color);
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &+ .h3 {
            margin-top: rem(4px);
        }
    }
}


.btn_small {
    min-height: rem(32px);
    gap: rem(4px);
    padding: rem(8px) rem(12px);
    border-radius: rem(16px);

    .icon {
        width: rem(12px);
        height: rem(12px);
    }
}

.btn_overlay {
    color: var(--btn-overlay-color);
    background: var(--btn-overlay-bg);

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--btn-overlay-color);
        background: var(--btn-overlay-bg);
    }
}


.btn_link {
    gap: rem(4px);
    color: var(--btn-link-color);

    .icon {
        width: rem(18px);
        height: rem(18px);
    }

    &:hover,
    &:focus {
        color: var(--btn-link-color);
        text-decoration: none;
    }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .btn_ico-primary:hover {
        background: var(--primary-hover-bg);
    }

    .btn_switcher:hover {
        background: var(--btn-switcher-bg-active);
        color: var(--btn-switcher-color-active);
    }

    .btn_list-item:hover {
        color: var(--btn-list-item-color-hover);
    }

    .btn_ico-accent:hover {
        background: var(--btn-primary-bg-hover);
    }

    .btn_primary:hover {
        background: var(--btn-primary-bg-hover);
    }

    .btn_rows:hover {
        background: var(--btn-rows-active-bg);
        color: var(--btn-rows-text-color-active);

        .icon {
            color: var(--btn-rows-ico-color-active);
            opacity: var(--btn-rows-ico-opacity-active);
        }
    }
}
