.category-slider {
    padding-bottom: rem(24px);
    border-bottom: 1px solid var(--category-slider-border-color);
    margin-bottom: rem(24px);
}

.category-slider__wrapper {
    position: relative;
    margin: 0 rem(-20px);

    .swiper-button {
        display: none;
        width: rem(48px);
        height: rem(48px);
        border-radius: 50%;
        background: var(--swiper-button-bg);
        color: var(--swiper-button-color);
        top: 50%;
        margin-top: rem(-24px);
        box-shadow: var(--swiper-button-shadow);
        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

        &::after {
            display: none;
        }

        &.swiper-button-prev {
            left: rem(-24px);
        }

        &.swiper-button-next {
            right: rem(-24px);
        }

        &.swiper-button-disabled {
            opacity: 0;
        }
    }
}

.category-slider__header {
    margin-bottom: rem(16px);
    display: flex;
    align-items: center;

    .h2 {
        color: var(--title-color);
        margin: 0 auto 0 0;
    }
}

@media (min-width: 992px) {
    .category-slider__wrapper {
        margin: 0;
        .swiper-button {
            display: flex;
        }
    }

    .category-slider {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: rem(48px);
    }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .category-slider__wrapper {
        .swiper-button:hover {
            background: var(--swiper-button-bg-hover);
            box-shadow: var(--swiper-button-shadow-hover);
        }
    }
}
