.podcast{
	position: relative;
	display: block;
	&___img {
		height: rem(210px);
		object-fit: cover;
		@media (max-width: 768px) {
			&.logo__img {
				height: rem(80px);
			}
		}
	}
	&__wrap{
		max-width: 685px;
		margin: 0 auto;
		@media (max-width: 768px) {
			margin: 0 rem(-20px);
		}

		.podcast__back {
			margin-bottom: rem(16px);

			@media (max-width: 768px) {
				display: none;
			}
		}

		.podcast__episode-back {
			margin-bottom: rem(16px);
		}
	}
	&__info{
		display: flex;
		align-items: flex-start;
		margin-bottom: rem(48px);
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__holder{
		display: flex;
	}
	&__picture{
		display: block;
		min-width: rem(210px);
		border-radius: rem(32px);
		overflow: hidden;
		position: relative;
		@media (max-width: 768px) {
			min-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 100%;
			&:before{
				position: absolute;
				content: '';
				left: 0;
				bottom: 0;
				background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 100%);
				width: 100%;
				height: 50%;
				z-index: 1;
			}
		}

		.btn_overlay {
			position: absolute;
			top: rem(20px);
			left: rem(20px);
			z-index: 2;

			@media (min-width: 769px) {
				display: none;
			}
		}

	}
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(2);
		@media (max-width: 768px) {
			top: 50%;
			left: 0;
			transform: translateY(-20%) scale(2);
		}
	}
	&__img{
		position: relative;
		z-index: 1;
		width: rem(210px);
		@media (max-width: 768px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: auto;
			width: 100%;
		}
	}
	&__info-text{
		margin-top: rem(16px);
		margin-left: rem(24px);
		@media (max-width: 768px) {
			z-index: 1;
		}
	}
	&__descr{
		display: block;
		font-size: rem(13px);
		line-height: 142%;
		margin-bottom: rem(8px);
		color:var(--btn-switcher-color);
	}
	&__title{
		display: block;
		font-weight: 700;
		font-size: rem(20px);
		line-height: 122%;
		margin-bottom: rem(24px);
		color:var(--np-modal-timer-value-color);
	}
	&__text{
		display: block;
		position: relative;
		font-weight: 400;
		font-size: rem(14px);
		line-height: 150%;
		margin-bottom: rem(24px);
		color:var(--btn-switcher-color);
		span{
			position: absolute;
			bottom: 0;
			right: 0;
			display: inline-block;
			width: rem(60px);
			text-align: right;
			background: var(--more-text);
			color:var(--accent-500);
		}
	}
	&__btn{
		max-width: rem(184px);
		width: 100%;
		svg{
			margin-right: rem(8px);
		}
	}
	&__list{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__elem{
		background: var(--np-modal-bg-lg);
		padding: rem(16px) rem(20px);
		border-radius: rem(16px);
		margin-bottom: 16px;
		@media (max-width: 768px) {
			margin-bottom: 0;
			border-radius: 0;
			background: var(--body-bg);
			border-top: 1px solid var(--menu-nav-sep-color);
		}
	}
	&__elem-wrap{
		display: flex;
		align-items: center;
		color:var(--btn-rows-text-color);
		margin-bottom: rem(4px);
	}
	&__data{
		display: block;
		position: relative;
		font-weight: 400;
		font-size: rem(13px);
		line-height: 142%;
		padding-right: rem(6px);
		margin-right: rem(6px);
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background: var(--btn-rows-text-color);
		}
	}
	&__elem-name{
		font-weight: 400;
		font-size: rem(13px);
		line-height: 142%;
		color: var(--btn-rows-text-color);
	}
	&__elem-title{
		display: block;
		font-weight: 400;
		font-size: rem(16px);
		line-height: 150%;
		margin-bottom: rem(8px);
	}

	&__elem-title__link {
		color: var(--btn-rows-text-color-active);
	}

	&__elem-text{
		display: block;
		font-weight: 400;
		font-size: rem(13px);
		line-height: 142%;
		margin-bottom: rem(8px);
	}
	.publication{
		margin-right: rem(16px);
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__holder{
		display: flex;
		align-items: center;
		.list{
			list-style: none;
			display: flex;
			align-items: center;
			padding-left: 0;
			margin-bottom: 0;
		}
		.item{
			margin-right: rem(16px);
		}
		.link{
			color:var(--btn-rows-text-color-active);

			&.active {
				color: var(--btn-rows-text-color-activated);
			}

			svg {
				width: rem(32px);
				height: rem(32px);
			}
		}
		.publication {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
	&__elem-option{
		display: block;
		margin-left: auto;
		color:var(--btn-rows-text-color-active);

		svg {
			width: rem(32px);
			height: rem(32px);
		}
	}
	&__timer{
		display: flex;
		align-items: center;
		background: var(--timer-bg);
		border-radius: rem(32px);
		padding: rem(7px) rem(12px);
		margin-right: rem(16px);
		min-height: rem(32px);
		cursor: pointer;
		@media (max-width: 768px) {
			background: var(--podcast-btn);
		}
		&.active{
			background: var(--accent-500);
			color:var(--dark-500);
			.play{
				display: none;
			}
			.pause{
				display: block;
			}
		}
		span{
			display: block;
			font-weight: 400;
			font-size: rem(13px);
			line-height: 142%;
			margin-left: rem(4px);
		}
		.play,
		.pause{
			cursor: pointer;
			svg{
				display: block;
			}
		}
		.pause{
			display: none;
		}
	}
	&__block{
		display: block;
		text-align: center;
		border-top: 1px solid var(--podcast-btn);
		padding-top: rem(48px);
		.podcast__title{
			margin-bottom: rem(2px);
		}
		.podcast__text{
			margin-bottom: rem(24px);
		}
	}
	&__add{
		display: flex;
		width: 100%;
		max-width: rem(255px);
		margin: 0 auto;
		@media (max-width: 991px) {
			max-width: rem(255px);
		}
		@media (max-width: 768px) {
			padding: rem(12px);
		}
		svg{
			margin-right: rem(8px);
		}
	}
	&__inner{
		.item{
			text-align: left;
		}
		.podcast__data{
			&:after {
				display: none;
			}
		}
		.podcast__timer{
			background: var(--podcast-btn);
			display: inline-flex;
			margin-bottom: rem(24px);
		}
		@media (max-width: 768px) {
			margin: 0 rem(20px);
		}
	}
	&__descr-block{
		display: flex;
		align-items: center;
		padding-bottom: rem(24px);
		margin-bottom: rem(24px);
		border-bottom: 1px solid var(--podcast-btn);
		.podcast__data{
			&:after {
				display: none;
			}
		}
		.podcast__title{
			margin-bottom: 0;
		}

	}
	.podcast-img{
		margin-right: rem(16px);
		width: rem(48px);
		border-radius: rem(16px);
		overflow: hidden;
		img{
			display: block;
			width: 100%;
		}
		&_big{
			width: rem(104px);
		}
	}
	.history-block{
		.podcast-img {
			margin-right: rem(8px);
		}
	}
}

.dropdown-item{
	padding: rem(12px);
	svg{
		margin-right: rem(16px);
	}
}

.publication {
	margin-right: rem(16px);
}

.all-podcasts {
	&.overflow-auto {
		@media (max-width: 991px) {
			display: flex;
			overflow-y: auto;
			padding: 0 rem(20px);
			margin-right: rem(-20px);
			margin-left: rem(-20px);
		}
		&.mb-24 {
			@media (max-width: 991px) {
				margin-bottom: 0;
				padding-bottom: rem(12px);
			}
		}

		.item {
			@media (max-width: 991px) {
                flex: 1 0 27%;
                min-width: 0;
				max-width: rem(96px);
			}
		}
		.x-small {
			@media (max-width: 991px) {
				font-size: 11px;
				line-height: 15px;
			}
		}
	}
}
