.form-floating > label {
	font-size: rem(16px);
	font-weight: 400;
	line-height: 1.5;
	color: var(--btn-rows-text-color-active);
	padding: rem(12px);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
	font-size: rem(12px);
	color: var(--btn-rows-text-color-active);

	&::after {
		background-color: transparent;
	}
}

.form-floating._icon {
	input.form-control {
		padding-left: rem(56px);
	}
	> label {
		padding-left: rem(56px);
	}
}

.input {
    margin-bottom: rem(24px);

    &.has-error {
        .form-control,
        .input__label::before {
            border-color: var(--red);
        }
    }

	.btn-modal-toggle {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		min-width: rem(48px);
		min-height: rem(48px);
		color: var(--btn-rows-text-color-active);
		opacity: 0.4;
	}

	.btn-modal-toggle-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: transparent;
		border: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;

		.btn-modal-toggle {
			position: static;
		}
	}
}

.input__actions {
	padding: 0;
	margin-top: rem(24px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(20px);
}

.input__inner {
    position: relative;
	// margin-bottom: 24px;
}

.input__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.input__label {
    position: relative;
    font-weight: 400;
    padding-left: rem(28px);

    &::before {
        content: "";
        display: block;
        width: rem(20px);
        height: rem(20px);
	    background-color: var(--btn-rows-bg);
	    border: 1px solid var(--btn-rows-active-bg);
	    appearance: none;
	    border-radius: rem(4px);
        position: absolute;
        top: rem(2px);
        left: 0;
        cursor: pointer;
	    box-sizing: border-box;
    }

	&.light {
		@media (min-width: 576px) {
			color: var(--grey-500);
			&::before {
				background-color: var(--white);
				border: 1px solid var(--grey-200);
			}
		}
	}

    & + .icon {
        position: absolute;
        top: rem(4px);
        left: rem(2px);
        opacity: 0;
        color: var(--dark-500);
        pointer-events: none;
	    width: rem(16px);
	    height: rem(16px);
    }

	.link {
		display: inline-block;
		vertical-align: top;
	}
}

.input__checkbox:checked + .input__label {
    &::before {
        background-color: var(--accent-500);
        border-color: var(--accent-500);
    }

    & + .icon {
        opacity: 1;
    }
}

.input {
	position: relative;
}
.form-control {
	display: block;
	width: 100%;
	padding: rem(12px);
	font-size: rem(16px);
	font-weight: 400;
	line-height: 1.5;
	height: 48px;
	color: var(--btn-rows-text-color-active);
	background-color: var(--btn-rows-bg);
	background-clip: padding-box;
	border: 1px solid var(--btn-rows-active-bg) !important;
	appearance: none;
	border-radius: rem(8px) !important;
	&:focus-visible,
	&:focus {
		color: var(--btn-rows-text-color-active);
		background-color: var(--btn-rows-bg);
		background-clip: padding-box;
		border: 1px solid var(--btn-rows-active-bg);
		outline: 0;
		box-shadow: none;
	}
	&::placeholder {
		color: var(--btn-rows-text-color-active);
		opacity: 1;
	}
}

.form-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: rem(48px);
	height: rem(48px);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--btn-rows-ico-color);
	opacity: var(--btn-rows-ico-opacity);
	> .icon {
		width: rem(24px);
		height: rem(24px);
	}
}
textarea.form-control {
    min-height: rem(160px);
}


.messages {
    margin-top: rem(4px);
    font-size: rem(14px);
    .error {
        color: var(--red);
    }

    &:empty {
        margin-top: 0;
    }
}

.login {
	position: relative;
	overflow: hidden;
	color: var(--btn-rows-text-color-active);
	&__wrapper {
		max-width: 280px;
		margin: 0 auto;
		@media (min-width: 600px) {
			max-width: 335px;
		}
	}
	&__wrapper-action {
		display: flex;
		flex-direction: column;
		@media (min-width: 600px) {
			max-width: 335px;
			margin: 0 auto;
			overflow: hidden;
		}
	}
	.btn_default {
		width: 100%;
	}
}

.btn.btn_google-sign-in {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--btn-rows-bg);
	color: var(--btn-rows-text-color-active);
	margin-bottom: rem(48px);
	min-height: rem(65px);
	width: 100%;
	border-radius: rem(16px);
	padding: rem(16px) rem(28px);
	.icon {
		min-width: rem(32px);
		margin-right: rem(24px);
		flex: 0;
	}
	span {
		display: block;
		flex: 1 1 auto;
		text-align: left;
	}
}
.holder-action {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--btn-rows-bg);
	color: var(--btn-rows-text-color-active);
	width: auto;
	padding: rem(24px) rem(48px);
	margin: 0 rem(-20px);
	@media (min-width: 992px) {
		border-radius: rem(16px);
		padding: rem(24px) rem(28px);
		margin: 0;
		width: 100%;
	}
}
.mb-24 {
	margin-bottom: rem(24px);
}
.ml-16 {
	margin-left: rem(16px);
}
.divide-text {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 100vw;
		height: 1px;
		background-color: var(--btn-rows-active-bg);
	}
	&:before {
		right: 100%;
		transform: translate(-16px, -50%);
	}
	&:after {
		left: 100%;
		transform: translate(16px, -50%);
	}
}

.control-panel{
	display: block;
	color: var(--btn-rows-text-color-active);
	background-color: var(--btn-rows-bg);
	border: 2px dashed var(--np-modal-more-list-border-color-lg);
	width: 100%;
	border-radius: rem(8px);
	padding: rem(24px);
	transition: all .2s;
	&-wrap{
		position: relative;
		display: flex;
		align-items: center;
		flex-flow: column;
		height: 100%;
	}
	&_load{
		.control-panel-percent{
			opacity: 1;
			visibility: visible;
		}
	}
	&_loaded{
		.control-panel-delete{
			opacity: 1;
			visibility: visible;
		}
	}
	&_preview {
		padding-right: 50%;
		.control-panel-delete{
			opacity: 1;
			visibility: visible;
			border-radius: 50%;
			background-color: var(--body-bg);
			top: 0;
			right: 0;
			transform: translate(40%, -40%);
		}
		.control-panel-wrap {
			position: static;
		}
		&.control-panel {
			.authorization-list-card__desc {
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}
			.authorization-list-card__preview {
				opacity: 1;
				visibility: visible;
			}
		}
		.control-panel-wrap {
			align-items: flex-start;
		}
		.control-panel-info {
			position: static;
			width: auto;
		}
	}
	&_error{
		.authorization-list-card__desc{
			color: #D3DCE6;
		}
	}
	&-icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: rem(48px);
		width: rem(48px);
		height: rem(48px);
		margin-bottom: rem(16px);
		background-color: var(--wave-stop-color-2-lg);
		border-radius: rem(16px);
	}
	&-info{
		position: relative;
		display: flex;
		width: 100%;
		flex-flow: column;
		text-align: center;
	}
	&-delete{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: rem(48px);
		width: rem(48px);
		height: rem(48px);
		padding: 5px;
		color: var(--primary-text-color);
		cursor: pointer;
		transition: all .2s ease;
		opacity: 0;
		visibility: hidden;
		&:hover{
			color: var(--primary-text-color);
		}
	}
	&-percent {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(11px);
		line-height: 1.4;
		min-width: rem(48px);
		width: rem(48px);
		height: rem(48px);
		padding: 5px;
		color: var(--primary-text-color);
		cursor: pointer;
		transition: all .2s ease;
		opacity: 0;
		visibility: hidden;
		&:hover{
			color: var(--primary-text-color);
		}
	}
	.authorization-list-card__title{
		font-size: rem(16px);
		line-height: 1.5;
		margin-bottom: 4px;
		text-overflow: ellipsis;
	}
	.authorization-list-card__desc{
		font-size: rem(11px);
		line-height: 1.5;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: var(--now-playing-author-color);
	}
	.authorization-list-card__preview {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 40%;
		height: 100%;
		object-fit: cover;
		border-radius: rem(8px);
		opacity: 0;
		visibility: hidden;
	}
	.progress__bar{
		width: 100%;
		border-radius: rem(8px);
		height: 2px;
		margin: rem(4px) 0 0;
	}
	.progress__line{
		box-shadow: 0 3px 8px rgba(67, 90, 245, 0.16);
		border-radius: rem(8px);
	}
	.form__file{
		display: none;
	}
}
.progress__bar {
	position: relative;
	display: flex;
	width: 100%;
	height: 2px;
	background: var(--np-modal-timer-values-bg);
	border-radius: rem(4px);
	overflow: hidden;
}
.progress__line {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 0;
	line-height: 0;
	text-align: center;
	white-space: nowrap;
	background: var(--link-color);
}
.podcast{
	&__files-list {
		margin: rem(8px) 0 0;
		padding: 0;
		list-style-type: none;
	}
	&__files-list-item {
		margin-bottom: rem(8px);

		.control-panel {
			border: 0;
			padding: rem(8px);
		}
		.control-panel-wrap {
			flex-flow: row nowrap;
			padding-right: rem(56px);
		}
		.control-panel-info {
			position: static;
		}
		.control-panel-icon {
			margin-right: rem(16px);
			margin-bottom: 0;
		}
		.control-panel-info {
			text-align: left;
		}
	}
}

.toggle {
	cursor: pointer;
	display: inline-block;
}
.toggle-switch {
	display: inline-block;
	background: var(--btn-switcher-bg);
	border-radius: 24px;
	width: 40px;
	height: 24px;
	border: 1px solid var(--btn-switcher-border);
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: var(--btn-switcher-color);
		border-radius: 50%;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 3px;
		left: 3px;
		transition: left 0.25s;
	}
	.toggle-checkbox:checked + & {
		background: var(--btn-switcher-bg-active);
		border-color: var(--btn-switcher-border-active);
		&:before {
			left: 19px;
			background: var(--btn-switcher-color-active);
		}
	}
}
.toggle-checkbox {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}

.input__editor {
    padding: rem(12px);
    border-radius: rem(8px);
    background: var(--editor-bg);
    color: var(--editor-color);
    border: var(--editor-border);
}

.input__desc {
	padding: 0 0 0 rem(12px);
	margin-top: rem(8px);
	color: var(--input-desc-color);

	&:empty {
		margin-top: 0;
		padding: 0;
	}
}
