.body {
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    margin-bottom: auto;
}

.container {
    padding: 0 rem(20px);
    margin: 0 auto;
}

.page-main {
    position: relative;
    padding-bottom: rem(104px);
}

.page-bg {
    position: absolute;
    width: rem(586px);
    height: rem(586px);
    top: rem(-293px);
    left: rem(-293px);
    user-select: none;
    pointer-events: none;
}

.page-btn {
	position: fixed;
	right: rem(8px);
	bottom: rem(24px);
	z-index: 50;
	@media (min-width: 992px) {
		right: rem(24px);
	}
	&._playing {
		bottom: rem(104px);
		@media (min-width: 992px) {
			bottom: rem(24px);
		}
	}
}

@media (min-width: 992px) {
    .page-grid {
	    flex: 1 1 auto;
    }

    .container {
        padding: 0 rem(48px);
    }

    .page-main {
        padding-bottom: rem(48px);
        margin-bottom: 0;
	    height: 100%;
    }

    .player-open {
        .page-grid {
            padding-left: rem(400px);
        }
    }
}
