.header {
    padding: rem(16px) rem(20px);
    margin-bottom: rem(24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
    margin-right: auto;
}

.header__logo__img {
    width: auto;
    height: rem(38px);
}

.header__nav {
    margin: 0 auto;
}

.header__nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__nav__list-item {
    margin-right: rem(8px);

    &:last-child {
        margin-right: 0;
    }
}

.header__menu-btn {
    margin-left: auto;
    margin-right: rem(-12px);
}

.header__menu {
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 85.335%;
    max-width: rem(320px);
    height: 100%;
    background: var(--menu-bg);
    backdrop-filter: blur(rem(12px));
    transform: translateX(100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;

    &.active {
        transform: none;
        opacity: 1;

        .header__menu__close-btn {
            display: inline-flex;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: var(--menu-border-bg);
    }
}

.header__menu__inner {
    width: 100%;
    height: 100%;
    padding: rem(24px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.header__menu__close-btn {
    display: none;
    position: absolute;
    top: rem(16px);
    right: 100%;
    color: var(--white);
}

.header__menu-backdrop {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background: var(--dark-500);
    transition: opacity .3s ease-in-out;

    &.active {
        opacity: .9;
        pointer-events: auto;
    }
}

.menu-open {
    overflow: hidden;
}

.header__menu__options {
    margin-top: rem(-8px);
    display: flex;
    align-items: center;
}

.header__menu__lang {
    display: flex;
    gap: rem(8px);
    margin-right: auto;
}

.header__menu__theme-btn {
    border-radius: rem(24px);
}

@mixin themeBtnLight() {
    .header__menu__theme-btn {
        background: var(--dark-500);
        color: var(--white);
    }

    .header__menu__theme-btn__ico-light {
        display: block;
    }

    .header__menu__theme-btn__ico-dark {
        display: none;
    }
}

@mixin themeBtnDark() {
    .header__menu__theme-btn {
        background: var(--white);
        color: var(--dark-500);
    }

    .header__menu__theme-btn__ico-light {
        display: none;
    }

    .header__menu__theme-btn__ico-dark {
        display: block;
    }
}

@include themeBtnLight();

[data-theme=dark] {
    @include themeBtnDark();
}

@media (prefers-color-scheme: light) {
    @include themeBtnLight();

    [data-theme=light] {
        @include themeBtnLight();
    }

    [data-theme=dark] {
        @include themeBtnDark();
    }
}

@media (prefers-color-scheme: dark) {
    @include themeBtnDark();

    [data-theme=dark] {
        @include themeBtnDark();
    }

    [data-theme=light] {
        @include themeBtnLight();
    }
}


.header__menu__nav {
    display: grid;
    grid-template-columns: 100%;
    gap: rem(8px);
    margin-top: rem(48px);
    margin-bottom: auto;
}

.header__menu__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(8px);
    margin-bottom: rem(16px);
}

.header__menu__link-panel {
    position: relative;
    padding: rem(12px);
    border-radius: rem(16px);
    color: var(--link-panel-color);
    background: var(--link-panel-bg);
    flex-direction: column;
    align-items: flex-start;
    transition: color .2s ease-in-out;

    .icon {
        color: var(--link-panel-ico-color);
        margin-bottom: rem(12px);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--link-panel-color);
    }
}

.header__menu__link-panel__img {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0 0 rem(16px) 0;
    width: rem(115px);
    height: rem(100px);
}

.header__menu__link-panel_highlighted {
    background: var(--accent-500);
    color: var(--dark-500);

    .icon {
        color: var(--dark-500);
    }
}

.header__menu__sep {
    width: 100%;
    border-top: 1px solid var(--menu-nav-sep-color);
    opacity: 1;
    margin: 0;
}

.header__menu__footer {
    margin-top: rem(48px);
    color: var(--menu-footer-color);

    .header__menu__sep {
        margin: rem(8px) 0;
    }
}

.header__menu__footer__link {
    color: var(--menu-footer-link-color);

    &:hover,
    &:focus {
        color: var(--menu-footer-link-color);
        text-decoration: none;
    }
}

.header__menu__footer__copyright {
    color: var(--menu-footer-link-color);
}

.header__menu__footer__meta {
    .header__menu__footer__link {
        color: var(--menu-footer-color);
    }
}

@media (min-width: 992px) {
    .header {
        padding: rem(16px) rem(48px);
    }

    .header__logo__img {
        height: rem(48px);
    }

    .header__menu-btn {
        margin-right: 0;
    }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .header__menu__link-panel:hover {
        color: var(--link-panel-color-hover);
    }

    .header__menu__link-panel_highlighted:hover {
        color: var(--dark-500);
    }

    .header__menu__footer__link:hover {
        text-decoration: underline;
    }
}
