.items-list__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(8px);
}

@media (min-width: 992px) {
    .items-list__grid {
        grid-template-columns: repeat(5, 1fr);
        gap: rem(24px);
    }
}
