:root {
    --white: #fff;
    --white-75: rgba(255, 255, 255, 0.75);
    --black: #000;
    --dark-100: #3e4247;
    --dark-200: #303336;
    --dark-300: #212325;
    --dark-500: #0f0f0f;
    --dark-500-075: rgba(15, 15, 15, 0.75);
    --accent-500: #b5e51d;
    --grey-100: #f7f7f8;
    --grey-200: #dee0e3;
    --grey-300: #bec2c6;
    --grey-500: #4e5255;
    --green-300: #08a618;
    --yellow-300: #eda942;
    --red-200: #ff5555;
    --red-300: #da2f2f;
    --scrollbar-track-color: transparent;
}
:root {
    --body-bg: var(--grey-100);
    --body-color: var(--grey-500);
    --link-color: var(--green-300);
    --link-hover-color: var(--green-300);
    --primary-text-color: var(--dark-500);
    --primary-hover-bg: rgba(15, 15, 15, 0.05);
    --btn-rows-text-color: var(--grey-500);
    --btn-rows-ico-color: var(--grey-500);
    --btn-rows-ico-opacity: 1;
    --btn-rows-bg: var(--white);
    --btn-rows-active-bg: var(--grey-200);
    --btn-rows-text-color-active: var(--dark-500);
    --btn-rows-ico-color-active: var(--dark-500);
    --btn-rows-ico-opacity-active: 1;
    --menu-bg: var(--grey-100);
    --menu-border-bg: linear-gradient(180deg, var(--grey-100) 0%, var(--white) 50%, var(--grey-100) 100%);
    --btn-switcher-bg: var(--white);
    --btn-switcher-color: var(--dark-500);
    --btn-switcher-color-active: var(--dark-500);
    --btn-switcher-bg-active: var(--accent-500);
    --btn-switcher-border: var(--grey-200);
    --btn-switcher-border-active: var(--accent-500);
    --link-panel-color: var(--grey-500);
    --link-panel-ico-color: var(--dark-500);
    --link-panel-bg: var(--white);
    --link-panel-color-hover: var(--dark-500);
    --btn-list-item-color: var(--grey-500);
    --btn-list-item-ico-color: var(--dark-500);
    --btn-list-item-color-hover: var(--dark-500);
    --menu-nav-sep-color: var(--grey-200);
    --menu-footer-color: var(--dark-500-075);
    --menu-footer-link-color: var(--dark-500);
    --item-title-color: var(--dark-500);
    --logo-bg: rgba(15, 15, 15, 0.1);
    --title-color: var(--dark-500);
    --category-slider-border-color: var(--grey-200);
    --swiper-button-bg: var(--white);
    --swiper-button-color: var(--dark-500);
    --swiper-button-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
    --swiper-button-bg-hover: var(--white);
    --swiper-button-shadow-hover: 0 0 24px rgba(15, 15, 15, 0.25);
    --now-playing-author-color: var(--dark-500-075);
    --now-playing-title-color: var(--dark-500);
    --now-playing-bg: rgba(255, 255, 255, 0.9);
    --now-playing-border-top: 0;
    --now-playing-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
    --np-modal-bg: var(--grey-100);
    --np-modal-title-color: var(--dark-500);
    --np-modal-body-header-gradient: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 100%);
    --more-text: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 45.99%);
    --np-modal-pretitle-color: var(--dark-500-075);
    --np-modal-more-list-border-color: var(--grey-200);
    --np-modal-bg-lg: rgba(255, 255, 255, 0.8);
    --np-modal-quality-active-color: var(--green-300);
    --np-modal-favourites-active-fill: var(--dark-500);
    --np-modal-btn-timer-bg: var(--white);
    --np-modal-btn-timer-color: var(--dark-500);
    --np-modal-btn-timer-shadw: 0 4px 16px rgba(15, 15, 15, 0.15);
    --np-modal-secodary-actions-bg: rgba(255, 255, 255, 0.9);
    --np-modal-secodary-actions-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
    --np-modal-more-list-border-color-lg: var(--grey-200);
    --np-modal-shadow: 0 4px 48px rgba(15, 15, 15, 0.15);
    --np-modal-timer-values-bg: var(--grey-200);
    --np-modal-timer-value-color: var(--dark-500);
    --np-modal-timer-label-color: var(--dark-500-075);
    --scrollbar-thumb-color: rgba(15, 15, 15, 0.05);
    --scrollbar-thumb-color-hover: rgba(15, 15, 15, 0.15);
    --wave-stop-color-1: var(--grey-100);
    --wave-stop-color-2: var(--grey-200);
    --wave-stop-color-3: var(--grey-100);
    --wave-stop-color-1-lg: var(--white);
    --wave-stop-color-2-lg: var(--grey-200);
    --wave-stop-color-3-lg: var(--white);
    --btn-secondary-bg: var(--grey-200);
    --btn-secondary-color: var(--dark-500);
    --btn-secondary-bg-lg: var(--grey-200);
    --timer-bg: var(--grey-200);
    --podcast-btn: var(--grey-200);
    --podcast-border: var(--grey-200);
    --btn-primary-disabled-bg: var(--grey-200);
    --btn-primary-disabled-color: var(--grey-300);
    --red: var(--red-300);
    --podcast-icon: var(--dark-500);
    --settings-title-color: var(--dark-500);
    --btn-fake-input-color: var(--dark-500);
    --btn-fake-input-bg: var(--white);
    --btn-fake-input-border: 1px solid var(--grey-200);
    --btn-fake-input-small-color: var(--grey-500);
    --input-desc-color: var(--grey-500);
    --modal-content-bg-color: var(--grey-100);
    --text-page-title-color: var(--dark-500);
}
:root[data-theme="dark"] {
    --body-bg: var(--dark-500);
    --body-color: var(--white-75);
    --link-color: var(--accent-500);
    --link-hover-color: var(--accent-500);
    --primary-text-color: var(--white);
    --primary-hover-bg: rgba(255, 255, 255, 0.05);
    --btn-rows-text-color: rgba(255, 255, 255, 0.6);
    --btn-rows-ico-color: var(--white);
    --btn-rows-ico-opacity: 0.6;
    --btn-rows-bg: var(--dark-300);
    --btn-rows-active-bg: var(--dark-300);
    --btn-rows-text-color-active: var(--white);
    --btn-rows-ico-color-active: var(--white);
    --btn-rows-ico-opacity-active: 1;
    --menu-bg: rgba(33, 35, 37, 0.75);
    --menu-border-bg: linear-gradient(180deg, rgba(33, 35, 37, 0) 0%, #35383b 50%, rgba(33, 35, 37, 0) 100%);
    --btn-switcher-bg: var(--dark-500);
    --btn-switcher-color: var(--white);
    --btn-switcher-color-active: var(--dark-500);
    --btn-switcher-bg-active: var(--accent-500);
    --btn-switcher-border: var(--white);
    --btn-switcher-border-active: var(--accent-500);
    --link-panel-color: var(--white-75);
    --link-panel-ico-color: var(--white);
    --link-panel-bg: var(--dark-500);
    --link-panel-color-hover: var(--white);
    --btn-list-item-color: var(--white-75);
    --btn-list-item-ico-color: var(--white);
    --btn-list-item-color-hover: var(--white);
    --menu-nav-sep-color: rgba(255, 255, 255, 0.1);
    --menu-footer-color: rgba(255, 255, 255, 0.6);
    --menu-footer-link-color: var(--white);
    --item-title-color: var(--white);
    --logo-bg: rgba(255, 255, 255, 0.1);
    --title-color: var(--white);
    --category-slider-border-color: var(--dark-300);
    --swiper-button-bg: var(--dark-200);
    --swiper-button-color: var(--white);
    --swiper-button-shadow: none;
    --swiper-button-bg-hover: var(--dark-100);
    --now-playing-author-color: var(--white-75);
    --now-playing-title-color: var(--white);
    --now-playing-bg: var(--dark-500-075);
    --now-playing-border-top: 1px solid var(--dark-300);
    --now-playing-shadow: none;
    --np-modal-bg: var(--dark-500);
    --np-modal-title-color: var(--white);
    --np-modal-body-header-gradient: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 100%);
    --more-text: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 45.99%);
    --np-modal-pretitle-color: var(--white-75);
    --np-modal-more-list-border-color: var(--dark-300);
    --np-modal-bg-lg: rgba(33, 35, 37, 0.8);
    --np-modal-quality-active-color: var(--accent-500);
    --np-modal-favourites-active-fill: var(--white);
    --np-modal-btn-timer-bg: var(--dark-200);
    --np-modal-btn-timer-color: var(--white);
    --np-modal-btn-timer-shadw: none;
    --np-modal-secodary-actions-bg: var(--dark-500-075);
    --np-modal-secodary-actions-shadow: none;
    --np-modal-more-list-border-color-lg: var(--dark-200);
    --np-modal-shadow: none;
    --np-modal-timer-values-bg: var(--dark-200);
    --np-modal-timer-value-color: var(--white);
    --np-modal-timer-label-color: var(--white-75);
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);
    --scrollbar-thumb-color-hover: rgba(255, 255, 255, 0.15);
    --wave-stop-color-1: var(--dark-500);
    --wave-stop-color-2: var(--dark-300);
    --wave-stop-color-3: var(--dark-500);
    --wave-stop-color-1-lg: var(--dark-300);
    --wave-stop-color-2-lg: var(--dark-200);
    --wave-stop-color-3-lg: var(--dark-300);
    --btn-secondary-bg: var(--dark-300);
    --btn-secondary-color: var(--white);
    --btn-secondary-bg-lg: var(--dark-200);
    --timer-bg: var(--dark-500);
    --podcast-btn: var(--dark-300);
    --podcast-border: var(--green-300);
    --btn-primary-disabled-bg: var(--dark-300);
    --btn-primary-disabled-color: var(--dark-100);
    --red: var(--red-200);
    --podcast-icon: var(--accent-500);
    --settings-title-color: var(--white);
    --btn-fake-input-color: var(--white);
    --btn-fake-input-bg: var(--dark-300);
    --btn-fake-input-border: 0;
    --btn-fake-input-small-color: var(--white-75);
    --input-desc-color: var(--white-75);
    --modal-content-bg-color: var(--dark-500);
    --text-page-title-color: var(--white);
}
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: var(--grey-100);
        --body-color: var(--grey-500);
        --link-color: var(--green-300);
        --link-hover-color: var(--green-300);
        --primary-text-color: var(--dark-500);
        --primary-hover-bg: rgba(15, 15, 15, 0.05);
        --btn-rows-text-color: var(--grey-500);
        --btn-rows-ico-color: var(--grey-500);
        --btn-rows-ico-opacity: 1;
        --btn-rows-bg: var(--white);
        --btn-rows-active-bg: var(--grey-200);
        --btn-rows-text-color-active: var(--dark-500);
        --btn-rows-ico-color-active: var(--dark-500);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: var(--grey-100);
        --menu-border-bg: linear-gradient(180deg, var(--grey-100) 0%, var(--white) 50%, var(--grey-100) 100%);
        --btn-switcher-bg: var(--white);
        --btn-switcher-color: var(--dark-500);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--grey-200);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--grey-500);
        --link-panel-ico-color: var(--dark-500);
        --link-panel-bg: var(--white);
        --link-panel-color-hover: var(--dark-500);
        --btn-list-item-color: var(--grey-500);
        --btn-list-item-ico-color: var(--dark-500);
        --btn-list-item-color-hover: var(--dark-500);
        --menu-nav-sep-color: var(--grey-200);
        --menu-footer-color: var(--dark-500-075);
        --menu-footer-link-color: var(--dark-500);
        --item-title-color: var(--dark-500);
        --logo-bg: rgba(15, 15, 15, 0.1);
        --title-color: var(--dark-500);
        --category-slider-border-color: var(--grey-200);
        --swiper-button-bg: var(--white);
        --swiper-button-color: var(--dark-500);
        --swiper-button-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --swiper-button-bg-hover: var(--white);
        --swiper-button-shadow-hover: 0 0 24px rgba(15, 15, 15, 0.25);
        --now-playing-author-color: var(--dark-500-075);
        --now-playing-title-color: var(--dark-500);
        --now-playing-bg: rgba(255, 255, 255, 0.9);
        --now-playing-border-top: 0;
        --now-playing-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-bg: var(--grey-100);
        --np-modal-title-color: var(--dark-500);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 100%);
        --more-text: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 45.99%);
        --np-modal-pretitle-color: var(--dark-500-075);
        --np-modal-more-list-border-color: var(--grey-200);
        --np-modal-bg-lg: rgba(255, 255, 255, 0.8);
        --np-modal-quality-active-color: var(--green-300);
        --np-modal-favourites-active-fill: var(--dark-500);
        --np-modal-btn-timer-bg: var(--white);
        --np-modal-btn-timer-color: var(--dark-500);
        --np-modal-btn-timer-shadw: 0 4px 16px rgba(15, 15, 15, 0.15);
        --np-modal-secodary-actions-bg: rgba(255, 255, 255, 0.9);
        --np-modal-secodary-actions-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-more-list-border-color-lg: var(--grey-200);
        --np-modal-shadow: 0 4px 48px rgba(15, 15, 15, 0.15);
        --np-modal-timer-values-bg: var(--grey-200);
        --np-modal-timer-value-color: var(--dark-500);
        --np-modal-timer-label-color: var(--dark-500-075);
        --scrollbar-thumb-color: rgba(15, 15, 15, 0.05);
        --scrollbar-thumb-color-hover: rgba(15, 15, 15, 0.15);
        --wave-stop-color-1: var(--grey-100);
        --wave-stop-color-2: var(--grey-200);
        --wave-stop-color-3: var(--grey-100);
        --wave-stop-color-1-lg: var(--white);
        --wave-stop-color-2-lg: var(--grey-200);
        --wave-stop-color-3-lg: var(--white);
        --btn-secondary-bg: var(--grey-200);
        --btn-secondary-color: var(--dark-500);
        --btn-secondary-bg-lg: var(--grey-200);
        --timer-bg: var(--grey-200);
        --podcast-btn: var(--grey-200);
        --podcast-border: var(--grey-200);
        --btn-primary-disabled-bg: var(--grey-200);
        --btn-primary-disabled-color: var(--grey-300);
        --red: var(--red-300);
        --podcast-icon: var(--dark-500);
        --settings-title-color: var(--dark-500);
        --btn-fake-input-color: var(--dark-500);
        --btn-fake-input-bg: var(--white);
        --btn-fake-input-border: 1px solid var(--grey-200);
        --btn-fake-input-small-color: var(--grey-500);
        --input-desc-color: var(--grey-500);
        --modal-content-bg-color: var(--grey-100);
        --text-page-title-color: var(--dark-500);
    }
    :root[data-theme="light"] {
        --body-bg: var(--grey-100);
        --body-color: var(--grey-500);
        --link-color: var(--green-300);
        --link-hover-color: var(--green-300);
        --primary-text-color: var(--dark-500);
        --primary-hover-bg: rgba(15, 15, 15, 0.05);
        --btn-rows-text-color: var(--grey-500);
        --btn-rows-ico-color: var(--grey-500);
        --btn-rows-ico-opacity: 1;
        --btn-rows-bg: var(--white);
        --btn-rows-active-bg: var(--grey-200);
        --btn-rows-text-color-active: var(--dark-500);
        --btn-rows-ico-color-active: var(--dark-500);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: var(--grey-100);
        --menu-border-bg: linear-gradient(180deg, var(--grey-100) 0%, var(--white) 50%, var(--grey-100) 100%);
        --btn-switcher-bg: var(--white);
        --btn-switcher-color: var(--dark-500);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--grey-200);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--grey-500);
        --link-panel-ico-color: var(--dark-500);
        --link-panel-bg: var(--white);
        --link-panel-color-hover: var(--dark-500);
        --btn-list-item-color: var(--grey-500);
        --btn-list-item-ico-color: var(--dark-500);
        --btn-list-item-color-hover: var(--dark-500);
        --menu-nav-sep-color: var(--grey-200);
        --menu-footer-color: var(--dark-500-075);
        --menu-footer-link-color: var(--dark-500);
        --item-title-color: var(--dark-500);
        --logo-bg: rgba(15, 15, 15, 0.1);
        --title-color: var(--dark-500);
        --category-slider-border-color: var(--grey-200);
        --swiper-button-bg: var(--white);
        --swiper-button-color: var(--dark-500);
        --swiper-button-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --swiper-button-bg-hover: var(--white);
        --swiper-button-shadow-hover: 0 0 24px rgba(15, 15, 15, 0.25);
        --now-playing-author-color: var(--dark-500-075);
        --now-playing-title-color: var(--dark-500);
        --now-playing-bg: rgba(255, 255, 255, 0.9);
        --now-playing-border-top: 0;
        --now-playing-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-bg: var(--grey-100);
        --np-modal-title-color: var(--dark-500);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 100%);
        --more-text: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 45.99%);
        --np-modal-pretitle-color: var(--dark-500-075);
        --np-modal-more-list-border-color: var(--grey-200);
        --np-modal-bg-lg: rgba(255, 255, 255, 0.8);
        --np-modal-quality-active-color: var(--green-300);
        --np-modal-favourites-active-fill: var(--dark-500);
        --np-modal-btn-timer-bg: var(--white);
        --np-modal-btn-timer-color: var(--dark-500);
        --np-modal-btn-timer-shadw: 0 4px 16px rgba(15, 15, 15, 0.15);
        --np-modal-secodary-actions-bg: rgba(255, 255, 255, 0.9);
        --np-modal-secodary-actions-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-more-list-border-color-lg: var(--grey-200);
        --np-modal-shadow: 0 4px 48px rgba(15, 15, 15, 0.15);
        --np-modal-timer-values-bg: var(--grey-200);
        --np-modal-timer-value-color: var(--dark-500);
        --np-modal-timer-label-color: var(--dark-500-075);
        --scrollbar-thumb-color: rgba(15, 15, 15, 0.05);
        --scrollbar-thumb-color-hover: rgba(15, 15, 15, 0.15);
        --wave-stop-color-1: var(--grey-100);
        --wave-stop-color-2: var(--grey-200);
        --wave-stop-color-3: var(--grey-100);
        --wave-stop-color-1-lg: var(--white);
        --wave-stop-color-2-lg: var(--grey-200);
        --wave-stop-color-3-lg: var(--white);
        --btn-secondary-bg: var(--grey-200);
        --btn-secondary-color: var(--dark-500);
        --btn-secondary-bg-lg: var(--grey-200);
        --timer-bg: var(--grey-200);
        --podcast-btn: var(--grey-200);
        --podcast-border: var(--grey-200);
        --btn-primary-disabled-bg: var(--grey-200);
        --btn-primary-disabled-color: var(--grey-300);
        --red: var(--red-300);
        --podcast-icon: var(--dark-500);
        --settings-title-color: var(--dark-500);
        --btn-fake-input-color: var(--dark-500);
        --btn-fake-input-bg: var(--white);
        --btn-fake-input-border: 1px solid var(--grey-200);
        --btn-fake-input-small-color: var(--grey-500);
        --input-desc-color: var(--grey-500);
        --modal-content-bg-color: var(--grey-100);
        --text-page-title-color: var(--dark-500);
    }
    :root[data-theme="dark"] {
        --body-bg: var(--dark-500);
        --body-color: var(--white-75);
        --link-color: var(--accent-500);
        --link-hover-color: var(--accent-500);
        --primary-text-color: var(--white);
        --primary-hover-bg: rgba(255, 255, 255, 0.05);
        --btn-rows-text-color: rgba(255, 255, 255, 0.6);
        --btn-rows-ico-color: var(--white);
        --btn-rows-ico-opacity: 0.6;
        --btn-rows-bg: var(--dark-300);
        --btn-rows-active-bg: var(--dark-300);
        --btn-rows-text-color-active: var(--white);
        --btn-rows-ico-color-active: var(--white);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: rgba(33, 35, 37, 0.75);
        --menu-border-bg: linear-gradient(180deg, rgba(33, 35, 37, 0) 0%, #35383b 50%, rgba(33, 35, 37, 0) 100%);
        --btn-switcher-bg: var(--dark-500);
        --btn-switcher-color: var(--white);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--white);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--white-75);
        --link-panel-ico-color: var(--white);
        --link-panel-bg: var(--dark-500);
        --link-panel-color-hover: var(--white);
        --btn-list-item-color: var(--white-75);
        --btn-list-item-ico-color: var(--white);
        --btn-list-item-color-hover: var(--white);
        --menu-nav-sep-color: rgba(255, 255, 255, 0.1);
        --menu-footer-color: rgba(255, 255, 255, 0.6);
        --menu-footer-link-color: var(--white);
        --item-title-color: var(--white);
        --logo-bg: rgba(255, 255, 255, 0.1);
        --title-color: var(--white);
        --category-slider-border-color: var(--dark-300);
        --swiper-button-bg: var(--dark-200);
        --swiper-button-color: var(--white);
        --swiper-button-shadow: none;
        --swiper-button-bg-hover: var(--dark-100);
        --now-playing-author-color: var(--white-75);
        --now-playing-title-color: var(--white);
        --now-playing-bg: var(--dark-500-075);
        --now-playing-border-top: 1px solid var(--dark-300);
        --now-playing-shadow: none;
        --np-modal-bg: var(--dark-500);
        --np-modal-title-color: var(--white);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 100%);
        --more-text: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 45.99%);
        --np-modal-pretitle-color: var(--white-75);
        --np-modal-more-list-border-color: var(--dark-300);
        --np-modal-bg-lg: rgba(33, 35, 37, 0.8);
        --np-modal-quality-active-color: var(--accent-500);
        --np-modal-favourites-active-fill: var(--white);
        --np-modal-btn-timer-bg: var(--dark-200);
        --np-modal-btn-timer-color: var(--white);
        --np-modal-btn-timer-shadw: none;
        --np-modal-secodary-actions-bg: var(--dark-500-075);
        --np-modal-secodary-actions-shadow: none;
        --np-modal-more-list-border-color-lg: var(--dark-200);
        --np-modal-shadow: none;
        --np-modal-timer-values-bg: var(--dark-200);
        --np-modal-timer-value-color: var(--white);
        --np-modal-timer-label-color: var(--white-75);
        --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);
        --scrollbar-thumb-color-hover: rgba(255, 255, 255, 0.15);
        --wave-stop-color-1: var(--dark-500);
        --wave-stop-color-2: var(--dark-300);
        --wave-stop-color-3: var(--dark-500);
        --wave-stop-color-1-lg: var(--dark-300);
        --wave-stop-color-2-lg: var(--dark-200);
        --wave-stop-color-3-lg: var(--dark-300);
        --btn-secondary-bg: var(--dark-300);
        --btn-secondary-color: var(--white);
        --btn-secondary-bg-lg: var(--dark-200);
        --timer-bg: var(--dark-500);
        --podcast-btn: var(--dark-300);
        --podcast-border: var(--green-300);
        --btn-primary-disabled-bg: var(--dark-300);
        --btn-primary-disabled-color: var(--dark-100);
        --red: var(--red-200);
        --podcast-icon: var(--accent-500);
        --settings-title-color: var(--white);
        --btn-fake-input-color: var(--white);
        --btn-fake-input-bg: var(--dark-300);
        --btn-fake-input-border: 0;
        --btn-fake-input-small-color: var(--white-75);
        --input-desc-color: var(--white-75);
        --modal-content-bg-color: var(--dark-500);
        --text-page-title-color: var(--white);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: var(--dark-500);
        --body-color: var(--white-75);
        --link-color: var(--accent-500);
        --link-hover-color: var(--accent-500);
        --primary-text-color: var(--white);
        --primary-hover-bg: rgba(255, 255, 255, 0.05);
        --btn-rows-text-color: rgba(255, 255, 255, 0.6);
        --btn-rows-ico-color: var(--white);
        --btn-rows-ico-opacity: 0.6;
        --btn-rows-bg: var(--dark-300);
        --btn-rows-active-bg: var(--dark-300);
        --btn-rows-text-color-active: var(--white);
        --btn-rows-ico-color-active: var(--white);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: rgba(33, 35, 37, 0.75);
        --menu-border-bg: linear-gradient(180deg, rgba(33, 35, 37, 0) 0%, #35383b 50%, rgba(33, 35, 37, 0) 100%);
        --btn-switcher-bg: var(--dark-500);
        --btn-switcher-color: var(--white);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--white);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--white-75);
        --link-panel-ico-color: var(--white);
        --link-panel-bg: var(--dark-500);
        --link-panel-color-hover: var(--white);
        --btn-list-item-color: var(--white-75);
        --btn-list-item-ico-color: var(--white);
        --btn-list-item-color-hover: var(--white);
        --menu-nav-sep-color: rgba(255, 255, 255, 0.1);
        --menu-footer-color: rgba(255, 255, 255, 0.6);
        --menu-footer-link-color: var(--white);
        --item-title-color: var(--white);
        --logo-bg: rgba(255, 255, 255, 0.1);
        --title-color: var(--white);
        --category-slider-border-color: var(--dark-300);
        --swiper-button-bg: var(--dark-200);
        --swiper-button-color: var(--white);
        --swiper-button-shadow: none;
        --swiper-button-bg-hover: var(--dark-100);
        --now-playing-author-color: var(--white-75);
        --now-playing-title-color: var(--white);
        --now-playing-bg: var(--dark-500-075);
        --now-playing-border-top: 1px solid var(--dark-300);
        --now-playing-shadow: none;
        --np-modal-bg: var(--dark-500);
        --np-modal-title-color: var(--white);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 100%);
        --more-text: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 45.99%);
        --np-modal-pretitle-color: var(--white-75);
        --np-modal-more-list-border-color: var(--dark-300);
        --np-modal-bg-lg: rgba(33, 35, 37, 0.8);
        --np-modal-quality-active-color: var(--accent-500);
        --np-modal-favourites-active-fill: var(--white);
        --np-modal-btn-timer-bg: var(--dark-200);
        --np-modal-btn-timer-color: var(--white);
        --np-modal-btn-timer-shadw: none;
        --np-modal-secodary-actions-bg: var(--dark-500-075);
        --np-modal-secodary-actions-shadow: none;
        --np-modal-more-list-border-color-lg: var(--dark-200);
        --np-modal-shadow: none;
        --np-modal-timer-values-bg: var(--dark-200);
        --np-modal-timer-value-color: var(--white);
        --np-modal-timer-label-color: var(--white-75);
        --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);
        --scrollbar-thumb-color-hover: rgba(255, 255, 255, 0.15);
        --wave-stop-color-1: var(--dark-500);
        --wave-stop-color-2: var(--dark-300);
        --wave-stop-color-3: var(--dark-500);
        --wave-stop-color-1-lg: var(--dark-300);
        --wave-stop-color-2-lg: var(--dark-200);
        --wave-stop-color-3-lg: var(--dark-300);
        --btn-secondary-bg: var(--dark-300);
        --btn-secondary-color: var(--white);
        --btn-secondary-bg-lg: var(--dark-200);
        --timer-bg: var(--dark-500);
        --podcast-btn: var(--dark-300);
        --podcast-border: var(--green-300);
        --btn-primary-disabled-bg: var(--dark-300);
        --btn-primary-disabled-color: var(--dark-100);
        --red: var(--red-200);
        --podcast-icon: var(--accent-500);
        --settings-title-color: var(--white);
        --btn-fake-input-color: var(--white);
        --btn-fake-input-bg: var(--dark-300);
        --btn-fake-input-border: 0;
        --btn-fake-input-small-color: var(--white-75);
        --input-desc-color: var(--white-75);
        --modal-content-bg-color: var(--dark-500);
        --text-page-title-color: var(--white);
    }
    :root[data-theme="dark"] {
        --body-bg: var(--dark-500);
        --body-color: var(--white-75);
        --link-color: var(--accent-500);
        --link-hover-color: var(--accent-500);
        --primary-text-color: var(--white);
        --primary-hover-bg: rgba(255, 255, 255, 0.05);
        --btn-rows-text-color: rgba(255, 255, 255, 0.6);
        --btn-rows-ico-color: var(--white);
        --btn-rows-ico-opacity: 0.6;
        --btn-rows-bg: var(--dark-300);
        --btn-rows-active-bg: var(--dark-300);
        --btn-rows-text-color-active: var(--white);
        --btn-rows-ico-color-active: var(--white);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: rgba(33, 35, 37, 0.75);
        --menu-border-bg: linear-gradient(180deg, rgba(33, 35, 37, 0) 0%, #35383b 50%, rgba(33, 35, 37, 0) 100%);
        --btn-switcher-bg: var(--dark-500);
        --btn-switcher-color: var(--white);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--white);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--white-75);
        --link-panel-ico-color: var(--white);
        --link-panel-bg: var(--dark-500);
        --link-panel-color-hover: var(--white);
        --btn-list-item-color: var(--white-75);
        --btn-list-item-ico-color: var(--white);
        --btn-list-item-color-hover: var(--white);
        --menu-nav-sep-color: rgba(255, 255, 255, 0.1);
        --menu-footer-color: rgba(255, 255, 255, 0.6);
        --menu-footer-link-color: var(--white);
        --item-title-color: var(--white);
        --logo-bg: rgba(255, 255, 255, 0.1);
        --title-color: var(--white);
        --category-slider-border-color: var(--dark-300);
        --swiper-button-bg: var(--dark-200);
        --swiper-button-color: var(--white);
        --swiper-button-shadow: none;
        --swiper-button-bg-hover: var(--dark-100);
        --now-playing-author-color: var(--white-75);
        --now-playing-title-color: var(--white);
        --now-playing-bg: var(--dark-500-075);
        --now-playing-border-top: 1px solid var(--dark-300);
        --now-playing-shadow: none;
        --np-modal-bg: var(--dark-500);
        --np-modal-title-color: var(--white);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 100%);
        --more-text: linear-gradient(90deg, rgba(15, 15, 15, 0) 0%, var(--dark-500) 45.99%);
        --np-modal-pretitle-color: var(--white-75);
        --np-modal-more-list-border-color: var(--dark-300);
        --np-modal-bg-lg: rgba(33, 35, 37, 0.8);
        --np-modal-quality-active-color: var(--accent-500);
        --np-modal-favourites-active-fill: var(--white);
        --np-modal-btn-timer-bg: var(--dark-200);
        --np-modal-btn-timer-color: var(--white);
        --np-modal-btn-timer-shadw: none;
        --np-modal-secodary-actions-bg: var(--dark-500-075);
        --np-modal-secodary-actions-shadow: none;
        --np-modal-more-list-border-color-lg: var(--dark-200);
        --np-modal-shadow: none;
        --np-modal-timer-values-bg: var(--dark-200);
        --np-modal-timer-value-color: var(--white);
        --np-modal-timer-label-color: var(--white-75);
        --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);
        --scrollbar-thumb-color-hover: rgba(255, 255, 255, 0.15);
        --wave-stop-color-1: var(--dark-500);
        --wave-stop-color-2: var(--dark-300);
        --wave-stop-color-3: var(--dark-500);
        --wave-stop-color-1-lg: var(--dark-300);
        --wave-stop-color-2-lg: var(--dark-200);
        --wave-stop-color-3-lg: var(--dark-300);
        --btn-secondary-bg: var(--dark-300);
        --btn-secondary-color: var(--white);
        --btn-secondary-bg-lg: var(--dark-200);
        --timer-bg: var(--dark-500);
        --podcast-btn: var(--dark-300);
        --podcast-border: var(--green-300);
        --btn-primary-disabled-bg: var(--dark-300);
        --btn-primary-disabled-color: var(--dark-100);
        --red: var(--red-200);
        --podcast-icon: var(--accent-500);
        --settings-title-color: var(--white);
        --btn-fake-input-color: var(--white);
        --btn-fake-input-bg: var(--dark-300);
        --btn-fake-input-border: 0;
        --btn-fake-input-small-color: var(--white-75);
        --input-desc-color: var(--white-75);
        --modal-content-bg-color: var(--dark-500);
        --text-page-title-color: var(--white);
    }
    :root[data-theme="light"] {
        --body-bg: var(--grey-100);
        --body-color: var(--grey-500);
        --link-color: var(--green-300);
        --link-hover-color: var(--green-300);
        --primary-text-color: var(--dark-500);
        --primary-hover-bg: rgba(15, 15, 15, 0.05);
        --btn-rows-text-color: var(--grey-500);
        --btn-rows-ico-color: var(--grey-500);
        --btn-rows-ico-opacity: 1;
        --btn-rows-bg: var(--white);
        --btn-rows-active-bg: var(--grey-200);
        --btn-rows-text-color-active: var(--dark-500);
        --btn-rows-ico-color-active: var(--dark-500);
        --btn-rows-ico-opacity-active: 1;
        --menu-bg: var(--grey-100);
        --menu-border-bg: linear-gradient(180deg, var(--grey-100) 0%, var(--white) 50%, var(--grey-100) 100%);
        --btn-switcher-bg: var(--white);
        --btn-switcher-color: var(--dark-500);
        --btn-switcher-color-active: var(--dark-500);
        --btn-switcher-bg-active: var(--accent-500);
        --btn-switcher-border: var(--grey-200);
        --btn-switcher-border-active: var(--accent-500);
        --link-panel-color: var(--grey-500);
        --link-panel-ico-color: var(--dark-500);
        --link-panel-bg: var(--white);
        --link-panel-color-hover: var(--dark-500);
        --btn-list-item-color: var(--grey-500);
        --btn-list-item-ico-color: var(--dark-500);
        --btn-list-item-color-hover: var(--dark-500);
        --menu-nav-sep-color: var(--grey-200);
        --menu-footer-color: var(--dark-500-075);
        --menu-footer-link-color: var(--dark-500);
        --item-title-color: var(--dark-500);
        --logo-bg: rgba(15, 15, 15, 0.1);
        --title-color: var(--dark-500);
        --category-slider-border-color: var(--grey-200);
        --swiper-button-bg: var(--white);
        --swiper-button-color: var(--dark-500);
        --swiper-button-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --swiper-button-bg-hover: var(--white);
        --swiper-button-shadow-hover: 0 0 24px rgba(15, 15, 15, 0.25);
        --now-playing-author-color: var(--dark-500-075);
        --now-playing-title-color: var(--dark-500);
        --now-playing-bg: rgba(255, 255, 255, 0.9);
        --now-playing-border-top: 0;
        --now-playing-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-bg: var(--grey-100);
        --np-modal-title-color: var(--dark-500);
        --np-modal-body-header-gradient: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 100%);
        --more-text: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, var(--grey-100) 45.99%);
        --np-modal-pretitle-color: var(--dark-500-075);
        --np-modal-more-list-border-color: var(--grey-200);
        --np-modal-bg-lg: rgba(255, 255, 255, 0.8);
        --np-modal-quality-active-color: var(--green-300);
        --np-modal-favourites-active-fill: var(--dark-500);
        --np-modal-btn-timer-bg: var(--white);
        --np-modal-btn-timer-color: var(--dark-500);
        --np-modal-btn-timer-shadw: 0 4px 16px rgba(15, 15, 15, 0.15);
        --np-modal-secodary-actions-bg: rgba(255, 255, 255, 0.9);
        --np-modal-secodary-actions-shadow: 0 0 24px rgba(15, 15, 15, 0.15);
        --np-modal-more-list-border-color-lg: var(--grey-200);
        --np-modal-shadow: 0 4px 48px rgba(15, 15, 15, 0.15);
        --np-modal-timer-values-bg: var(--grey-200);
        --np-modal-timer-value-color: var(--dark-500);
        --np-modal-timer-label-color: var(--dark-500-075);
        --scrollbar-thumb-color: rgba(15, 15, 15, 0.05);
        --scrollbar-thumb-color-hover: rgba(15, 15, 15, 0.15);
        --wave-stop-color-1: var(--grey-100);
        --wave-stop-color-2: var(--grey-200);
        --wave-stop-color-3: var(--grey-100);
        --wave-stop-color-1-lg: var(--white);
        --wave-stop-color-2-lg: var(--grey-200);
        --wave-stop-color-3-lg: var(--white);
        --btn-secondary-bg: var(--grey-200);
        --btn-secondary-color: var(--dark-500);
        --btn-secondary-bg-lg: var(--grey-200);
        --timer-bg: var(--grey-200);
        --podcast-btn: var(--grey-200);
        --podcast-border: var(--grey-200);
        --btn-primary-disabled-bg: var(--grey-200);
        --btn-primary-disabled-color: var(--grey-300);
        --red: var(--red-300);
        --podcast-icon: var(--dark-500);
        --settings-title-color: var(--dark-500);
        --btn-fake-input-color: var(--dark-500);
        --btn-fake-input-bg: var(--white);
        --btn-fake-input-border: 1px solid var(--grey-200);
        --btn-fake-input-small-color: var(--grey-500);
        --input-desc-color: var(--grey-500);
        --modal-content-bg-color: var(--grey-100);
        --text-page-title-color: var(--dark-500);
    }
}

.settings {
    margin: 0 auto;
    max-width: 20.9375rem;
}

.settings__title {
    color: var(--settings-title-color);
}

@media (min-width: 768px) {
    .settings__title {
        text-align: center;
    }
}

.btn_fake-input {
    position: relative;
    color: var(--btn-fake-input-color);
    width: 100%;
    text-align: left;
    align-items: flex-start;
    padding: 0.75rem 4rem 0.75rem 0.75rem;
    background: var(--btn-fake-input-bg);
    border-radius: 0.5rem;
    border: var(--btn-fake-input-border);
    flex-direction: column;
}

.input .btn-modal-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 3rem;
    min-height: 3rem;
    color: var(--btn-rows-text-color-active);
    opacity: .4;
}
.btn_fake-input .btn-modal-toggle {
    bottom: auto;
}
.btn_fake-input .small {
    color: var(--btn-fake-input-small-color);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn_fake-input .small + .h3 {
    margin-top: 0.25rem;
}

.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.small {
    font-size: .8125rem;
    line-height: 1.539;
}
@media (min-width: 1200px){
    .small {
        font-size: .875rem;
    }
}

.modal-footer {
    padding: 0 1.25rem 2rem;
    gap: 1.25rem;
}
.modal-footer > * {
    flex: 1;
    margin: 0;
}
@media (min-width: 576px) {
    .modal-header {
        padding: 1.5rem;
    }
    .modal-dialog {
        max-width: 23.4375rem;
    }
    .modal-footer {
        padding: 0 1.5rem 2rem;
    }
    .modal-content {
        background: var(--grey-100);
    }
    .modal .form-control {
        background: var(--white);
        color: var(--dark-500);
        border: 1px solid var(--grey-200);
    }
    .modal .form-floating > .form-control ~ label {
        color: var(--dark-500);
    }
    .modal .form-floating > .form-control:focus ~ label,
    .modal .form-floating > .form-control:not(:placeholder-shown) ~ label,
    .modal .form-floating > .form-control-plaintext ~ label,
    .modal .form-floating > .form-select ~ label {
        color: var(--grey-500);
    }
    .modal .input__desc {
        color: var(--grey-500);
    }
}

